{# web/weibo/templates/weibo/detail.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" media="screen"
		  href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
    	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">

	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
	        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	        crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
	        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	        crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
	        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	        crossorigin="anonymous"></script>

	<title>Weibo ID Detail | Weibo</title>
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="col-md-12 push-md-4 jumbotron">
		<div class="text-center">
		<h1>{{ weibo_obj.name }}</h1>
		<input type="hidden" name="weibo_DB_id" value="{{ weibo_obj.id }}">
		</div>
		<br/>

		</div>
	</div>
	<div class="row">
	<div class="col-md-12 push-md-4">
		<div class="list-group">
		{% for seq2seqpost in weibo_obj.seq2seqpost_set.all %}
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ seq2seqpost.abstract }}</h5>
					<small>{{ seq2seqpost.pub_date }}</small>
				</div>
				<small>{{ seq2seqpost.hashtag }}</small>
				<p class="mb-1">{{ seq2seqpost.body }}</p>
			</a>
		{% endfor %}
		</div>
	</div>
	</div>
</body>
</html>