{# web/weibo/templates/weibo/index.html #}
{% extends 'weibo/bootstrapbase.html' %}

	{% block title_text %}IDs list on DB | Weibo {% endblock %}

{% block js_in_head %}  
{% endblock js_in_head %}

{% block body %}
	<div class="container">
	<div class="row">
		<div class="col-md-12 push-md-4 jumbotron">
		<div class="text-center">
		<h1>Weibo IDs list</h1>
		</div>
		<br/>

		<form method="POST" action="{% url 'weibo:add' %}">
			<input id="id_new_crawl_target" name="new_crawl_target" 
					placeholder="Enter an weibo id & name to be crawled"
					class="form-control input-lg">

			{% csrf_token %}
		</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 push-md-4">
		<table name="id_list_table" id='id_list_table'
		       class="table table-hover">
		    <thead>
			<tr><th>DB index</th>
				<th>Weibo Name</th><th>Action</th></tr>
			</thead>
			<tbody>
		{% for each_weibo in weibo_all_objects %}
			<tr><th scope="row">{{ each_weibo.id }}</th>
				<td><a href="{% url 'weibo:detail' each_weibo.id %}"
					   class="">
				{{ each_weibo.name }}</a>
				</td>
				<td><input type="button" class="btn btn-primary" 
					       name="crawler" id="crawler" value="Crawl"
					       onclick="crawler({{ each_weibo.pk }})"></td>
					       {# onclick="window.open('{% url 'weibo:crawl_and_display' each_weibo.pk %}')"></td> #}
			</tr>
		{% endfor %}
			</tbody>
		</table>
		<script>
			function crawler(_pk){
				var _url = `/weibo/${_pk}/crawl_and_display/`
				window.open(_url);
			}
		</script>
		</div>
	</div>
{% endblock body %}